body {
    font-family: Modern No. 20;
    background-image: linear-gradient(to bottom right, #B5F8FE, #F2A541);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.feels-like-title {
    font-family: Modern No. 20;
    font-size: 7.0rem;
    margin-top: 20px;
}

.dinaj h1 {
    font-family: Modern No. 20;
    font-size: 5.0rem;
}

.dinaj h2 {
    font-family: Modern No. 20;
    font-size: 3.0rem;
}

.location-title {
    font-size: 1.5rem;
    margin-top: 20px;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin-top: 20px;
}

.day {
    text-align: center;
    flex-basis: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.day h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.temperature {
    font-size: 1.1rem;
    margin: 5px 0;
}

.conditions {
    font-size: 1rem;
    color: #666;
}