body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #B5F8FE, #F2A541);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.verdict-justification {
    text-align: center;
}

.verdict-justification em {
    color: #424242;
}

.verdict-justification h1 {
    font-family: Baskerville Old Face;
    font-size: 7.0rem;
}

.verdict-justification h2 {
    font-family: Arial, sans-serif;
    font-size: 2.3rem;
}

.location-title {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

.forecast-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2A541;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    margin-top: 20px;
}

.day {
    text-align: center;
    flex-basis: 20%;
    padding: 10px;
    border: 2px solid #424242;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.day h2 {
    font-size: 1.2rem;
}

.temperature {
    font-size: 1.1rem;
}

.conditions {
    font-size: 1rem;
    color: #666666;
}